<p>
  Hi there,
</p>

<p>
  This is your login email. Please click the link below to get access to beltbond.
</p>

<p>
  <%= link_to "Verify your email", login_link %>
</p>

<hr>

<p>
  <small>
  If the link above doesn't work, please copy and paste the following link in your browser.
  </small>
</p>

<p>
  <small>
    <%= login_link %>
  </small>
</p>

<p>
  If you didn't request this email, please ignore it.
</p>

<p>
  Thanks,
</p>

<p>
  The BeltBond Team
</p>
